@media screen and (max-width: 2048px) {
  .section-kalender {
    margin: 190px 300px 0 300px;
  }

  .header-kalender {
    border: 20px solid whitesmoke;
    border-style: ridge;
  }

  .header-kalender h1 {
    border-bottom: 4px solid black;
    margin: 0 200px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .header-kalender img {
    width: 100%;
  }
  .header-kalender a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 25px;
  }
}
