@media screen and (max-width: 2048px) {
  .section-lab {
    margin: 190px 240px 100px 240px;
    padding: 0;
  }
  .header-lab {
    border: 15px solid whitesmoke;
    border-style: ridge;
    padding: 50px 70px;
  }

  .title-lab h1 {
    border-bottom: 4px solid #01012f;
    margin: 0 200px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    color: #01012f;
  }
  .title-lab p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .keterangan1 {
    text-align: left;
    border-left: 4px solid #01012f;
    padding: 20px 30px;
    margin: 20px 10px;
    background-color: #edeaea;
    border-radius: 0 10px 10px 0;
  }
  .keterangan1 h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 0;
  }
  .keterangan1 p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 20px 30px;
  }
  .keterangan2 {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    border-right: 4px solid #01012f;
    padding: 20px 30px;
    margin: 5px 10px;
    letter-spacing: 2px;
    background-color: #edeaea;
    border-radius: 10px 0 0 10px;
  }
  .keterangan2 h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 0;
  }
  .keterangan2 p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 20px 30px;
  }
  .lab-img img {
    width: 500px;
    height: 500px;
    border: 5px solid #d3d3d3;
    border-style: ridge;
    border-radius: 5px;
  }
}
