@media screen and (max-width: 2048px) {
  .header-imgstruktur {
    padding: 150px 250px 0px 250px;
  }

  .header-imgstruktur img {
    border-radius: 4px;
    border: 20px solid rgb(255, 255, 255);
    border-style: groove;
  }
}
