@media screen and (max-width: 2048px) {
  .section-prestasi {
    padding: 190px 100px 0px 100px;
  }

  .prestasi img {
    width: 100%;
    box-shadow: 10px 15px 20px 0 rgba(125, 125, 125, 0.37);
    border-radius: 10px;
    border: 15px solid #ffffff;
    border-style: ridge;
  }

  .teks-prestasi {
    padding: 10px 0 0 25px;
    margin: 80px 0;
  }

  .teks-prestasi h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .teks-prestasi h5 {
    font-size: 20px;
  }

  .teks-prestasi h6 {
    font-size: 16px;
  }

  .teks-prestasi2 {
    padding: 0px 0 0 25px;
    margin: 70px 0;
  }

  .teks-prestasi2 h2 {
    font-size: 25px;
    font-weight: bold;
  }

  .teks-prestasi2 h5 {
    font-size: 18px;
  }

  .teks-prestasi2 h6 {
    font-size: 14px;
  }
}
