@media screen and (max-width: 2048px) {
  .header-survey {
    margin: 190px 150px 0 150px;
  }

  .header-survey {
    border: 20px solid whitesmoke;
    border-style: ridge;
  }

  .header-survey h1 {
    border-bottom: 4px solid black;
    margin: 0 500px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .header-survey li {
    margin: 20px 0;
    font-size: 18px;
  }

  .header-survey a {
    text-decoration: none;
    font-weight: bold;
  }

  .header-hasilsurvey {
    order: 20px solid whitesmoke;
    border-style: ridge;
    margin: 190px 250px 250px;
    border-radius: 50px;
    padding: 30px 50px;
  }

  .header-hasilsurvey h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 4px solid black;
    margin: 0 350px;
  }
  .header-hasilsurvey img {
    width: 100%;
  }
}
