@media screen and (max-width: 2048px) {
  .section-tenagastaff {
    padding: 190px 250px 0px 250px;
  }

  .header-tenagastaff {
    padding: 20px 0;
    background-color: whitesmoke;
    padding: 20px 20px;
    border-radius: 8px;
  }

  .header-tenagastaff h2 {
    padding: 20px 0;
    font-weight: bold;
  }

  .header-tenagastaff table {
    padding: 10px 10px;
  }

  .navigasi {
    margin: 0 0 0 0;
  }

  .pagination{
    padding: 0 150px;
  }

  .navigasi button {
    padding: 10px 18px;
    color: black;
    border: 1px solid;
    font-weight: 600;
    background-color: whitesmoke;
  }

  .navigasi button:hover {
    background-color: rgb(114, 114, 114);
    color: whitesmoke;
  }

  .navigasi .active {
    background-color: rgb(114, 114, 114);
    border: 1px solid rgb(114, 114, 114);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}
